* {
  text-align: center;
  color: black;
}

body {
  background-color: sepia;
}

#m1 {
  color: rgb(0, 0, 0);
  margin-top: 20%;
  font-family: "Share Tech Mono", monospace;
}

#m2 {
  color: rgb(255, 0, 0);
  font-family: "Share Tech Mono", monospace;
}
