@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

html {
  min-width: 350px;
  background-color: #142234;
  max-height: 600px;
}

* {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

h3 {
  font-style: italic;
  font-size: medium;
}

p {
  font-weight: 400;
  font-size: 15px;
  padding: 0 15px;
}

#settings_form {
  margin-top: 20px;
}

#q1 {
  font-size: 20px;
  font-weight: 400;
}

select {
  color: black;
  margin: 10px 0 15px 0;
}

option {
  color: black;
}

input {
  font-size: 13px;
}
